@import "@fontsource-variable/noto-serif";
@import "@fontsource-variable/noto-serif/standard-italic.css";

:root {
    --bg: #555;
    --col: #eee;
    --sub: #aaa;
    --bad: #ffaaaa;
    --ok: #ffffaa;
    --good: #aaffaa;
}

body {
    font-family: "Noto Serif Variable", "Noto Serif", serif;
    background-color: var(--bg);
    color: var(--col);
}

h1 {
    text-transform: lowercase;
    font-style: oblique;
    font-weight: 300;
}
h1, em {
    font-variation-settings: 'ital' 1;
}

.tableContainer {
    overflow-x: auto;
    table {
        border-collapse: collapse;
        margin: auto;

        tr:first-of-type > td:first-of-type {
            border: 0;
        }

        td {
            padding:.25em 1em;
            text-align: center;
            border: 1px solid var(--sub);
        }
    }
}

main {
    max-width: 45em;
    margin: auto;
    padding: 0 1em;
}

small, a, .tagline {
    color: var(--sub);
}

a {
    text-decoration: underline dashed;
}

.tagline {
    margin-left: 2em;;
}

.bad {
    color: var(--bad)
}
.ok {
    color: var(--ok)
}
.good {
    color: var(--good);
    text-shadow: 0 0 10px var(--good);
}